<div class="center hero-unit">
    <h1> 欢迎使用im.tower</h1> 

    <h2>
			简单好用的团队协作工具
    </h2>

    <%= link_to "Sign up now!", signup_path, class:"btn btn-large btn-primary"%>
</div>

Powered by <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
