<div class="container">
	<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1>
						讨论区<small>思想的碰撞 <%= link_to raw("发帖"), show_discusses_project_path, class: "btn btn-primary", method: :get %></small>
					</h1>
				</div>
			</div>
		</div>
	
	
	<div class="row">
		<div class="span2">
			<div class="row">
				<div class="span6">
				</div>
				<div class="span6">
				</div>
			</div>
		</div>
		<div class="span6">
			<h2>
				标题
			</h2>
			<p>
				本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
			</p>
			<p>
				<a class="btn" href="#">More »</a>
			</p>
		</div>
		<div class="span4">
			 <span class="badge">1</span> <span class="label">文字标签</span>
		</div>
	</div>
	
	<div class="row">
		<div class="span2">
			<div class="row">
				<div class="span6">
				</div>
				<div class="span6">
				</div>
			</div>
		</div>
		<div class="span6">
			<h2>
				标题
			</h2>
			<p>
				本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
			</p>
			<p>
				<a class="btn" href="#">More »</a>
			</p>
		</div>
		<div class="span4">
			 <span class="badge">1</span> <span class="label">文字标签</span>
		</div>
	</div>
</div>